*{
     padding: 0%;
     margin: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     box-sizing: border-box;
}
.container{
     padding: 0;
}
.side-bar{
     width: 2.5%;
     float: left;
     height: 100%;
     position: fixed;
     padding: 18em 0;
     background-color: #f0f0f0;
}
.side-bar ul li a .icon{
     font-size: 20px;
     padding: 30px 10px;
     text-decoration: none;
     color: black;
     cursor: pointer;
}
.side-bar ul li a .icon:hover{
     color: red;
     transition: .3s;
}
.content{
     width: 97.5%;
     float: right;
}
nav{
     height: 77px;
     width: 100%;
     padding: 0 20px 0 20px;
     background-color: #fff;
}
.logo{
     width: 50%;
     float: left;
}
.logo img{
     width: 250px;
     cursor: pointer;
     position: fixed;
}
.links{
     width: 50%;
     float: right;
     text-align: right;
}
.links ul li{
     display: inline-block;
     flex: 1;
     font-size: 20px;
     padding: 20px 20px;
     list-style: none;
}
.links ul li a{
     color: black;
     text-decoration: none;
}
.links ul li a:hover{
     color: red;
     transition: .3s;
}
.content{
     background-color: #f8f8f8;
     height: 100vh;
}
/* User-box */
.user-box{
     border-bottom: 3px solid black;
     margin: 30px 20px;
     padding: 10px 0;
     width: 40%;
     height: 10vh;
}
.user-icon{
     width: 10%;
     float: left;
     font-size: 70px;
     color: #007bc2;
}
.user-info{
     padding: 17px 5px;
     width: 90%;
     float: right;
}
.user-info h4{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 25px;
     padding-left: 10px;
     font-weight: 400;
     cursor: pointer;
}
.user-info small{
     padding-left: 12px;
     color: #007bc2;
     cursor: pointer;
}
/* Column,Row */
.row1{
     width: 80%;
     float: left;
     padding-left: 10px;
}
.row2{
     width: 20%;
     float: right;
     padding: 50px 10px 10px 10px;
     min-height: 30vh;
     margin-top: -100px;
}
/* Form */
form{
     margin: 10px;
     width: 100%;
     padding: 5px 10px;
}
form p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 0 10px 0;
}
form select{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 16px;
     color: #363636;
}
/* Upload Card */
.upload-card{
     margin: 25px 0 0 0;
     display: flex;
     justify-content: space-between;
}
.card1{
     width: 28%;
     margin: 0 0 10px 0;
     padding: 10px;
     border-radius: 10px;
     border: 3px solid #fff;
}
.card1 p{
     text-align: center;
     font-size: 23px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-bottom: 5px;
}
.card1 ion-icon{
     font-size: 70px;
     text-align: center;
     margin: 7px 115px;
}
.card1 input{
     margin-left: 53px;
}
.card1 h5{
     text-align: center;
     margin: 10px 3px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 500;
}
.card1:hover{
     background-color: #cfedff;
     transition: .3s;
}
/* Button */
.btn{
     padding: 5px 30px;
     outline: none;
     font-size: 15px;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 30px;
     float: right;
     margin: 3px 0 10px 0;
}
.btn:hover{
     background-color: black;
     color: #fff;
     transition: .3s;
}
/* row2 */
.row2 p{
     text-align: center;
     font-size: 17px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 400;
     margin-bottom: 5px;
}
.row2 ul li{
     padding: 7px 8px;
     list-style: none;
}
.row2 ul li a{
     text-decoration: none;
     color: black;
}
.row2 ul li a:hover{
     color: #007bc2;
     transition: .3s;
}