*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.container{
     padding: 0;
}
.side-bar{
     width: 2.5%;
     float: left;
     height: 100%;
     position: fixed;
     padding: 18em 0;
     background-color: #f0f0f0;
}
.side-bar ul li a .icon{
     font-size: 20px;
     padding: 30px 10px;
     text-decoration: none;
     color: black;
     cursor: pointer;
}
.side-bar ul li a .icon:hover{
     color: red;
     transition: .3s;
}
.content{
     width: 97.5%;
     float: right;
}
nav{
     height: 77px;
     width: 100%;
     padding: 0 20px 0 20px;
     background-color: #fff;
}
.logo{
     width: 50%;
     float: left;
}
.logo img{
     width: 250px;
     cursor: pointer;
     position: fixed;
}
.links{
     width: 50%;
     float: right;
     text-align: right;
}
.links ul li{
     display: inline-block;
     flex: 1;
     font-size: 20px;
     padding: 20px 20px;
     list-style: none;
}
.links ul li a{
     color: black;
     text-decoration: none;
}
.links ul li a:hover{
     color: red;
     transition: .3s;
}
/**********************Heading**********************/
.heading{
     background-image: linear-gradient(	rgba(77, 77, 77, 0.5), rgba(77, 77, 77, 0.5)), url(images/CROP\ USE.jpg);
     width: 100%;
     height: 50vh;
}
/****************************Button**************************/
.btn{
     padding: 25px 50px;
     margin: -50px 690px 0 690px;
     background-color: #fff;
     border: 1px solid black;
     border-radius: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
}
.btn a{
     color: black;
     text-decoration: none;
}
.btn:hover, .btn:hover a{
     background-color: black;
     color: #fff;
     transition: .3s;
}
/*****************About*********************************/
.about{
     margin: 25px 0 0 0;
}
.left{
     width: 50%;
     float: left;
}
.left img{
     width: 500px;
     margin-left: 150px;
}
.right{
     width: 50%;
     float: right;
     padding-top: 40px;
     padding-bottom: 40px;
     padding-right: 50px;
}
.right p{
     font-size: 17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*************Row**************************************/
.row:after {
     content: "";
     display: table;
     clear: both;
}
.row{
     justify-content: space-between;
     margin-top: 380px;
     padding: 10px;
     display: flex;
}
.column-1{
     width: 33%;

}
.column-1 .card{
     width: 90%;
}
.column-1 img{
     width: 100%;
}
.column-1 p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: justify;
     margin-bottom: 30px;
}
.column-1 h1{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0 0 10px 0;
}
/**************************Person***************************/
.person{
     width: 33%;
     float: left;
     margin: 140px 0 150px 0;
     padding: 0 80px;
}
.person img{
     width: 80px;
     border: 10px solid antiquewhite;
     border-radius: 50%;
}
.person .img-cell{
     align-self: center;
}
.img-cell{
     margin: 0 0 -89px 0;
}
.row1{
     padding: 0 20px;
}
.message{
     text-align: justify;
     margin: 50px 0;
     background-color: antiquewhite;
     padding: 30px 15px;
}
/*******************************Location***************/
.location{
     margin-top: 50px;
     margin-left: 100px;
}
.description{
     width: 60%;
     float: left;
     padding: 210px 0;
     text-align: justify;
     align-self: center;
}
.description p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.map{
     width: 40%;
     float: right;
     margin: 0 auto;
}
.map iframe{
     width: 500px;
     height: 500px;
     margin: 20px auto 60px auto;
}
.learnmore-btn{
     margin-top: 20px;
     padding: 10px 15px 10px 30px;
     background-color: #fff;
     color: black;
     border: 1px solid black;
     border-radius: 30px;
     cursor: pointer;
}
.learnmore-btn:hover{
     border: 1px solid #fff;
     background-color: black;
     color: #fff;
     transition: .3s;
}
.learnmore-btn .icon{
     padding: 3px 0 0 20px;
}
/******************************Form****************************/
.form{
     width: 50%;
     float: left;
}
form{
     margin: 0 0 30px 150px;
}
form input{
     outline: none;
     border: 1px solid black;
     padding: 10px;
     width: 300px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
form textarea{
     outline: none;
     border: 1px solid black;
     padding: 10px;
     width: 450px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
}
.send-btn{
     margin-top: 10px;
     padding: 5px 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;
     background-color: #fff;
     border: 1px solid black;
     border-radius: 10px;
     cursor: pointer;
}
.send-btn:hover{
     background-color: black;
     color: #fff;
     border: 1px solid #fff;
     transition: .3s;
}
/* footer */
.contact-details{
     width: 97.5%;
     float: right;
     background-color: black;
     height: 110px;
}
.card-left{
     width: 50%;
     float: left;
}
.card-right{
     width: 50%;
     float: right;
}
.cards1{
     width: 50%;
     float: left;
}
.cards2{
     width: 50%;
     float: right;
}
.cards1, .cards2{
     color: #fff;
     min-height: 90px;
     justify-content: center;
     padding-top: 20px;
     margin-bottom: 0;
}
.cards1 h2, .cards2 h2{
     font-weight: 100;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     cursor: pointer;
}
.cards1 small, .cards2 small{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     cursor: pointer;
}
.cards1 small:hover, .cards2 small:hover{
     text-decoration: underline;
}
.icons{
     width: 25%;
     float: left;
     justify-content: center;
     padding: 13px 10px 10px 40px;
     cursor: pointer;
}
.icons .ion:hover{
     color: #a33b47;
     transition: .5s;
}
.icons .ion{
     font-size: 30px;
}
.details{
     width: 75%;
     float: right;
}